* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-color: black;
}

.center{
  margin: auto;
  margin-top: 20%;
  text-align: center;
}

h1{
  color: white;
}
